# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea

# Misc
assets/js/dist

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tf
_posts/2024-01-06-0004.md
assets/post-content/0004/tf/terraform.tfvars
assets/post-content/0004/tf/variables.tf
assets/post-content/0004/tf/main.tf
